h1 {
  text-align: center;
  margin: 2em;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-bottom: 2em;
}

.nav-item {
  padding: 0.2em 1em 0.5em 1em;
  border-bottom: 1.5px solid rgb(210, 210, 210);
  border-radius: 4px;
  margin: 0 0.2em;
}
.nav-item:first-child {
  border-right: 1.5px solid rgb(210, 210, 210);
}
.nav-item:hover {
  cursor: default;
}
#selected {
  background-color: #f5f5f5;
}
#not-selected {
  background-color: white;
}

#form {
  display: table;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#targetUrl-input {
  margin: 0 2em;
  width: 20em;
}

button {
  display: inline-block;
  border-radius: 1em;
  padding: 1em;
}

#new-link {
  width: 60%;
  margin: 0 auto;
  padding: 4em;
  align-items: center;
}

#all-links {
  width: 70%;
}

table {
  table-layout: fixed;
  width: 80%;
  border-spacing: 2em;
  margin: 0 auto;
}

th {
  text-align: left;
}

td {
  word-wrap: break-word;
}

td:nth-child(3) {
  width: 200px;
}
