h1 {
  text-align: center;
  margin: 2em;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20em;
  margin-bottom: 5px;
}

.nav-item {
  margin: 1em;
}

.nav-item:hover {
  cursor: default;
}

#new-link {
  width: 100%;
  align-items: center;
}

#form {
  display: table;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#targetUrl-input {
  margin: 0 2em;
  width: 20em;
}

button {
  display: inline-block;
}

table {
  border-spacing: 2em;
  display: table;
  margin: 0 auto;
}

td {
  width: 1em;
}
